*{
  margin: 0;
  padding: 0;
}
.body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  auto 1fr auto;
  grid-template-areas: 
      "head"
      "main"
      "foot"
  ;
  min-height: 100vh;

  background-color: #FFF6EE;

}

.head{
  grid-area: head;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: foot;
}
